<div class="alert" ngClass="{{alertClass}}" *ngIf="showAlert">
  <span class="closebtn" (click)="showAlert=!showAlert">&times;</span>
  {{alertText}}
</div>
<div class="loader" *ngIf="loading"></div>
<div class="content-wrap">
  <header>
    <h1>{{title}} </h1>
  </header>
  <div class="content">
    <div class="img-container">
      <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
           alt="{{character.name+'.'+character.thumbnail.extension}}" *ngIf="character">
    </div>
    <div class="hero-data">
      <ul id="hero-form">
        <li>
          <h3><span>Name:</span> {{character ? character.name : ''}}</h3>
        </li>
        <li>
          <h3><span>Description:</span> {{character ? character.description : ''}}</h3>
        </li>
        <li>
          <h3><span># Comics:</span> {{character ? character.comics.available : ''}}</h3>
        </li>
        <li>
          <h3><span>ID:</span> {{character ? character.id : ''}}</h3>
        </li>
        <li>
          <input type="number" placeholder="Enter hero id" [(ngModel)]="characterId">
          <button class="btn info" (click)="findHero(characterId)">Find</button>
        </li>
      </ul>
    </div>
  </div>
</div>




<router-outlet></router-outlet>
